
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .ctn-btn {
        float: left;
        width: 100%;
        text-align: right;
        margin: 10px 0 0;
    }

    .filtra {
        background: #5bc682 !important;
        color: #fff !important;
        border: solid 1px #5bc682 !important;
    }

    .red .black {
        color: #fff !important;
    }
</style>

<div class="content-wrapper mb-0">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title mb-0">Invii</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/Home">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Invii
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-wrapper pt-0">

    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-1 filter">
                <div class="ibox-title">
                    <h3>Azioni Massive</h3>
                </div>
                <div class="ibox-title">
                    <select name="massiveActions" class="massiveActions" style="width:350px; max-width:450px!important">
                        <option value="">Seleziona una azione massiva</option>
                        <option value="1">Assegna codice COL/MOL</option>
                        <option value="2">Salva e spedisci</option>
                        <option value="3">Segna come spedito</option>
                    </select>
                    <input type="button" onclick="BulkActions()" value="  VAI  " class="filtra" />
                </div>
                <div class="ibox-title">
                    <h3>Filtro invii</h3>
                </div>
                <div class="ibox-title">
                    <select name="users" class="userId" style="width:250px">
                        <option value="">Utenti</option>
                    </select>
                    <input type="date" name="startDate" class="startDate" />
                    <input type="date" name="endDate" class="endDate" />
                    <select name="sendType" class="sendType" style="width:120px">
                        <option value="">Tipi</option>
                        <option value="rol">ROL</option>
                        <option value="lol1">LOL P1</option>
                        <option value="lol4">LOL P4</option>
                        <option value="mol">MOL</option>
                        <option value="col">COL</option>
                        <option value="tol">TOL</option>
                        <option value="tol">AGOL</option>
                        <option value="tol">PACCHI</option>
                        <option value="vol">VISURE/CERTIFICATI</option>
                    </select>
                    <select name="valid" class="valid">
                        <option value="">Valido</option>
                        <option value="1">SI</option>
                        <option value="0">NO</option>
                    </select>
                    <select name="formato" class="formato">
                        <option value="">Formati</option>
                        <option value="0">STANDARD</option>
                        <option value="1">SPECIALE</option>
                    </select>
                    <select name="property" class="property">
                        <option value="">Canali</option>
                        <option value="1">EWT</option>
                        <option value="2">NOVISERVICE</option>
                        <option value="3">H2H Consulting</option>
                        <option value="4">Red Logic</option>
                        <option value="5">Info Tech</option>
                        <option value="6">Indi</option>
                    </select>
                    <select name="currentState" class="currentState">
                        <option value="">St. Corrente</option>
                        <option value="0">In Attesa</option>
                        <option value="9">Accettato on line</option>
                        <option value="11">Valorizzato</option>
                        <option value="1">Presa in carico</option>
                        <option value="2">In Lavorazione</option>
                        <option value="5">Errore Invio</option>
                        <option value="6">Errore Valorizza</option>
                        <option value="7">Errore Conferma</option>
                        <option value="10">Errore validazione bollettino</option>
                        <option value="12">Errore generico</option>
                    </select>
                    <select name="noCod" class="noCod">
                        <option value="" selected>Con e senza codice</option>
                        <option value="0">Senza codice</option>
                        <option value="1">Con codice</option>
                    </select>
                    <div class="ctn-btn">
                        <input type="button" onclick="ReloadData()" value="filtra" class="filtra" />
                        <input type="button" onclick="FiltersRemove()" value="rimuovi filtri" class="rimuovi" />
                    </div>
                </div>
            </div>
            <div class="card mb-1 filter">
                <div class="table-responsive">
                    <div class="ibox-content relative">
                        <div class="processing"><p>caricamento in corso...</p></div>
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th style="width:80px"><input class="checkAll" type="checkbox" name="chk" onclick="toggle(this)" /></th>
                                    <th style="width:80px">id</th>
                                    <th style="width:50px">TIPO</th>
                                    <th style="width:50px">Formato</th>
                                    <th style="width:150px">Data</th>
                                    <th style="width:200px">Cliente</th>
                                    <th style="width:210px">Destinatario</th>
                                    <th>Codice</th>
                                    <th>Valido</th>
                                    <th>St.Corrente</th>
                                    <th style="width:180px">Stato</th>
                                    <th>Mod.</th>
                                    <th>Ann.</th>
                                    <th>Doc.OLD</th>
                                    <th>Doc.</th>
                                    <th>Csv</th>
                                    <th>Not.</th>
                                    <th style="display:none">Data Consegna</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/Scripts/jquery.session.js"></script>

<style>

    .btn-send {
        padding: 7px 20px;
        margin: 10px 0 0 -10px;
        float: left;
    }

    .btn-group {
        position: absolute !important;
    }

    .red {
        background: #ff0000 !important;
        color: #fff !important;
    }

    .green {
        background: #5bc682 !important;
        color: #333 !important;
    }

    .yellow {
        background: #ffd800 !important;
        color: #333 !important;
    }

    .table td:last-child {
        display: none;
    }

    input, select {
        max-width: 180px !important;
    }
</style>

<script src="/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>

<script type="text/javascript">

    let count = 0;
    function toggle(source) {
        checkboxes = document.getElementsByName('sel');
        if (!source.checked)
            count = 0;
        else
            count = -1;
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
            if (source.checked)
                count++;
        }

    }

    function BulkActions() {
        let massiveActions = $('.massiveActions').val();
        if (massiveActions == "") {
            alert("Seleziona una azione massiva");
            return false;
        }
        switch (parseInt(massiveActions)) {
            case 1:
                BulkAssegnaCodiceMOLCOL();
                break;
            case 2:
                BulkSend();
                break;
            case 3:
                BulkSignSend();
                break;
        }
    }

    function BulkSignSend() {
        var a = [];
        $('.sel').each(function () {
            if (this.checked)
                a.push($(this).attr("data-id"));
        });
        if (a.length == 0) {
            alert("selezionare almeno un invio");
            return false;
        }

        $('.processing').show();
        var data = { d: a.toString() };
        $.post("/counter/BulkSignSend", data, function () {
            $('.processing').hide();
            var f = $.session.get('FilterInvii');
            if (f === undefined)
                f = "";
            getTable(f);
        });
    }

    function BulkSend() {
        var a = [];
        $('.sel').each(function () {
            if (this.checked)
                a.push($(this).attr("data-id"));
        });
        if (a.length == 0) {
            alert("selezionare almeno un invio");
            return false;
        }

        $('.processing').show();
        var data = { d: a.toString() };
        $.post("/counter/BulkSaveSend", data, function () {
            $('.processing').hide();
            var f = $.session.get('FilterInvii');
            if (f === undefined)
                f = "";
            getTable(f);
        });
    }

    function BulkAssegnaCodiceMOLCOL() {
        var a = [];
        $('.sel').each(function () {
            if (this.checked)
                a.push($(this).attr("data-id"));
        });
        if (a.length == 0) {
            alert("selezionare almeno un invio");
            return false;
        }

        $('.processing').show();
        var data = { d: a.toString() };
        $.post("/counter/BulkAssegnaCodiceMOLCOL", data);
        $('.processing').hide();
        alert("Azione in background. Attendere qualche minuto ed effettuare di nuovo la ricerca.")
    }

    function FiltersRemove() {
        $.session.set('FilterInvii', '');
        getTable('');
    }

    function ReloadData() {
        var filter = "?id=0";
        if ($('.userId').val() != "")
            filter += "&userId=" + $('.userId').val();

        if ($('.startDate').val() != "")
            filter += "&startDate=" + $('.startDate').val();

        if ($('.endDate').val() != "")
            filter += "&endDate=" + $('.endDate').val();

        if ($('.sendType').val() != "")
            filter += "&sendType=" + $('.sendType').val();

        if ($('.valid').val() != "")
            filter += "&valid=" + $('.valid').val();

        if ($('.formato').val() != "")
            filter += "&formato=" + $('.formato').val();

        if ($('.currentState').val() != "")
            filter += "&currentState=" + $('.currentState').val();

        if ($('.property').val() != "")
            filter += "&propertyId=" + $('.property').val();

        if ($('.noCod').val() != "")
            filter += "&noCod=" + $('.noCod').val();

        $.session.set('FilterInvii', filter);

        getTable(filter);
    }

    $(document).ready(function () {
        var f = $.session.get('FilterInvii');
        if (f === undefined)
            f = "";
        getTable(f);
        GetUsers();
    });

    function getTable(filter) {
        $('.processing').show();
        var buttonCommon = {
            exportOptions: {
                format: {
                    body: function (data, row, column, node) {
                        return column === 5 ?
                            data.replace(/[$,]/g, '') :
                            data;
                    }
                }
            }
        };
        var table = $('.dataTables').DataTable();
        var data;
        $.getJSON("/Scripts/api/configuration.json", function (c) {
            $.get(c.apiurl + "api/Backoffice/Invii" + filter,
                function (f) {
                    table.destroy();
                    $('.processing').hide();
                    table = $('.dataTables').DataTable({
                        "bInfo": false,
                        "order": [[0, "desc"]],
                        "pageLength": 50,
                        data: f,
                        "columns": [
                            {
                                "data": function (data) {
                                    //var d = (data.valid === "SI" && data.codice != "" && data.codice != null) ? " disabled='disabled' " : "";
                                    return "<input type='checkbox' name='sel' data-id='" + data.id + "' class='sel' />";
                                }
                            },
                            { "data": "id" },
                            { "data": "type" },
                            { "data": "formato" },
                            {
                                "data": function (data) {
                                    return new Date(data.insertDate).toLocaleDateString() + " " + new Date(data.insertDate).toLocaleTimeString()
                                }
                            },
                            { "data": "businessName" },
                            {
                                "data": function (data) {
                                    return data.namesComplete + "<br>idRichiesta:" + data.requestId
                                }
                            },
                            { "data": "codice" },
                            { "data": "valid" },
                            { "data": "currentState" },
                            { "data": "stato" },
                            {
                                "data": function (data) {
                                    return ("<a href='/Counter/Mod/" + data.id + "'><i class='la la-pencil black'></i></a>");
                                }
                            },
                            {
                                "data": function (data) {
                                    return ("<a onclick='DeleteShipping(" + data.id + ")'><i class='la la-close black'></i></a>");
                                }
                            },
                            {
                                "data": function (data) {
                                    return ("<a onclick='GetPdfOld(\"" + replaceAll(data.fileName, "\\", "/") + "\")'><i class='la la-download black'></i></a>");
                                }
                            },
                            {
                                "data": function (data) {
                                    return ("<a onclick='GetPdf(" + data.id + ")'><i class='la la-download black'></i></a>");
                                }
                            },
                            {
                                "data": function (data) {
                                    return ("<a onclick='GetCsv(\"" + replaceAll(data.csv, "\\", "/") + "\")'><i class='la la-download black'></i></a>");
                                }
                            },
                            {
                                "data": function (data) {
                                    return (data.notificato == true ? "NOTIF." : "<a onclick='NotificaInvio(" + data.id + ")'><i class='la la-send black'></i></a>");
                                }
                            },
                            { "data": "dataConsegna" }
                        ],
                        "createdRow": function (row, data, dataIndex) {

                            if (data.valid === "NO")
                                $(row).addClass('red');
                            if (data.valid === "SI" && ((data.stato !== "" && data.stato !== null) || data.codice !== "" && data.codice !== null))
                                $(row).addClass('green');
                            if (data.notificato === true)
                                $(row).addClass('yellow');
                        },
                        dom: 'Bfrtip',
                        buttons: [
                            $.extend(true, {}, buttonCommon, {
                                extend: 'excelHtml5',
                                exportOptions: {
                                    columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14]
                                }
                            }),
                            $.extend(true, {}, buttonCommon, {
                                extend: 'pdfHtml5'
                            })
                        ]
                    });

                });
        });
    }

    function escapeRegExp(string) {
        return string.replace(/[.*+\-?^${}()|[\]\\]/g, '\\$&'); // $& means the whole matched string
    }

    function replaceAll(str, find, replace) {
        if (str == undefined || str == null || str == "")
            return "";

        return str.replace(new RegExp(escapeRegExp(find), 'g'), replace);
    }

    function GetUsers() {
        $.getJSON("/Scripts/api/configuration.json", function (c) {
            $.get(c.apiurl + "api/Backoffice/Users", function (res) {
                for (var x = 0; x < res.length; x++) {
                    $('.userId').append('<option value="' + res[x].user.id + '">' + res[x].user.businessName + ' ' + res[x].user.name + ' ' + res[x].user.lastName + '</option>')
                }
            });
        })
    }

    function GetPdf(id) {
        $.get("/Counter/GetPdf/" + id, function (result) {
            if (result !== "")
                window.open(result, "document");
            else
                alert("Documento non disponibile");
            return false;
        });
    }

    function GetCsv(csv) {
        if (csv !== null)
            window.open(csv, "document");
        else
            alert("Documento non disponibile");
        return false;
    }

    function GetPdfOld(fileName) {
        var f = replaceAll(fileName, "C:/inetpub/wwwroot/website/", "https://app.easysender.it/");
        window.open(f, "document");
        //$.post("/Counter/GetPdfOld", f, function (result) {
        //    if (result !== "")
        //        window.open(result, "document");
        //    else
        //        alert("Documento non disponibile");
        //    return false;
        //});
    }

    function NotificaInvio(id) {
        $.get("/Counter/NotificaInvio/" + id, function (result) {
            if (result) {
                var f = $.session.get('FilterInvii');
                if (f === undefined)
                    f = "";
                getTable(f);
                alert("Invio Notificato");
            }
            else {
                alert("Errore nell'invio della notifica");
            }
        });
    }

    function DeleteShipping(id) {
        if (confirm("Vuoi eliminare definitivamente la spedizione con id. " + id + "?"))
            $.getJSON("/Scripts/api/configuration.json", function (c) {
                $.get(c.apiurl + "api/Backoffice/DeleteShipping?nameId=" + id, function (res) {
                    ReloadData();
                });
            })
    }
</script>
