
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper mb-0">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title mb-0">Utenti principali</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/Home">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Utenti principali
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-wrapper pt-0">
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-1 filter">
                <div class="ibox float-e-margins">
                    <div class="ibox-content relative">
                        <div class="processing"><p>caricamento in corso...</p></div>
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th style="width:220px!important">Proprietà</th>
                                    <th style="width:22%">Nominativo</th>
                                    <th>Email</th>
                                    <th>Pwd</th>
                                    <th style="width:120px">Utente TEST</th>
                                    <th style="width:120px">Abilitato</th>
                                    <th style="width:120px">Scadenza Contratto</th>
                                    <th style="width:120px">N.Prezzi</th>
                                    <th>Priorità</th>
                                    <th>Utenti Coll.</th>
                                    <th>Log</th>
                                    <th>Modifica</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    .btn-group {
        position: absolute !important;
    }
</style>
<script src="/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        getTable();
    });

    function getTable() {
        $('.processing').show();
        var buttonCommon = {
            exportOptions: {
                format: {
                    body: function (data, row, column, node) {
                        return column === 5 ?
                            data.replace(/[$,]/g, '') :
                            data;
                    }
                }
            }
        };
        var table = $('.dataTables').DataTable();
        var data;
        $.getJSON("/Scripts/api/configuration.json", function (c) {
            $.get(c.apiurl + "api/Backoffice/Users",
                function (f) {
                    table.destroy();
                    $('.processing').hide();
                    table = $('.dataTables').DataTable({
                        "bInfo": false,
                        "order": [[0, "desc"]],
                        "pageLength": 50,
                        data: f,
                        "columns": [
                            { "data": "user.id" },
                            {
                                "data": function (data) {
                                    return data.property.name
                                }
                            },
                            {
                                "data": function (data) {
                                    return data.user.name + ' ' + data.user.lastName + ' ' + data.user.businessName
                                }
                            },
                            { "data": "user.email" },
                            { "data": "user.pwd" },
                            {
                                "data": function (data) {
                                    return (data.user.areaTestUser === true ? "SI" : "NO");
                                }
                            },
                            {
                                "data": function (data) {
                                    return (data.user.abilitato === true ? "SI" : "NO");
                                }
                            },
                            {   "data": "user.expireDate",
                                "render": function (data) {
                                    return new Date(data).toLocaleDateString()
                                }
                            },
                            {
                                "data": function (data) {
                                    return (data.user.hidePrice === true ? "SI" : "NO");
                                }
                            },
                            { "data": "user.userPriority" },
                            {
                                "data": function (data) {
                                    return ("<a href='/Users/Children/" + data.user.id + "'>(" + data.subUsers + ")</a>");
                                }
                            },
                            {
                                "data": function (data) {
                                    return ("<a href='/Users/Logs/" + data.user.id + "'><i class='la la-search'></i></a>");
                                }
                            },
                            {
                                "data": function (data) {
                                    return ("<a href='/Users/Edit/" + data.user.id + "'><i class='la la-pencil'></i></a>");
                                }
                            },
                        ],
                        dom: 'Bfrtip',
                        buttons: [
                            $.extend(true, {}, buttonCommon, {
                                extend: 'excelHtml5'
                            }),
                            $.extend(true, {}, buttonCommon, {
                                extend: 'pdfHtml5'
                            })
                        ],
                        "initComplete": function (settings, json) {
                            $('.dataTables_paginate').addClass('pagination-flat pagination-separate pagination-curved');
                        }
                    });

                });
        });
    }

</script>
