
@{
    ViewBag.Title = "Sondaggio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="float:left; height:1500px; margin:50px 0 0 -15px;">
    <iframe frameborder="0" id="iframeX6D3A1V8A8F1F9Y6J" src="https://www.survio.com/survey/d/Z0L2Q9W0W2L7O9S8F" height="860" width="1615" scrolling="no"></iframe>
</div>