
@{
    ViewBag.Title = "test";
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="msvalidate.01" content="4750335E44452B274E92B647887ADCF7" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="p:domain_verify" content="dd0da972fd62249606fa7107fecb0290" />

    <title>Isontina</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">

</head>

<body>
    <center>
        <div style="width:1400px; height:1980px; background-image: url('/Images/ModelloF24.jpg'); background-repeat: no-repeat; background-position: top; background-size: contain; margin: 30px 0 0 0; position:relative;">

            <!--COPIA SOGGETTO-->
            <div class="copia-soggetto" style="position:relative; width:100%; height: 959px; float: left; padding: 0; margin: 0;">

                <!--Scadenza-->
                <div id="scadenza-1" style="position:absolute; z-index: 100; width:320px; height: 25px; top:50px; left:598px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: left; font-size: 20px; font-weight: 400; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span>SCADENZA DEL: 14/04/2023</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Scadenza-->
                <!--Codice Fiscale-->
                <div id="cod-fisc-1" style="position:absolute; z-index: 100; width:540px; height: 28px; top:222px; left:266px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: center; font-size: 24px; font-weight: 500; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span>C</span>
                            </td>
                            <td>
                                <span>n</span>
                            </td>
                            <td>
                                <span>t</span>
                            </td>
                            <td>
                                <span>r</span>
                            </td>
                            <td>
                                <span>k</span>
                            </td>
                            <td>
                                <span>e</span>
                            </td>
                            <td>
                                <span>8</span>
                            </td>
                            <td>
                                <span>2</span>
                            </td>
                            <td>
                                <span>t</span>
                            </td>
                            <td>
                                <span>4</span>
                            </td>
                            <td>
                                <span>4</span>
                            </td>
                            <td>
                                <span>E</span>
                            </td>
                            <td>
                                <span>0</span>
                            </td>
                            <td>
                                <span>9</span>
                            </td>
                            <td>
                                <span>8</span>
                            </td>
                            <td>
                                <span>G</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Codice Fiscale-->
                <!--Codice Ufficio-->
                <div id="cod-ufficio-1" style="position:absolute; z-index: 100; width:100px; height: 28px; top:225px; left:835px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: center; font-size: 24px; font-weight: 500; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Codice Ufficio-->
                <!--Codice Atto-->
                <div id="cod-atto-1" style="position:absolute; z-index: 100; width:370px; height: 28px; top:225px; left:960px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: center; font-size: 24px; font-weight: 500; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Codice Atto-->
                <!--Cognome Utente-->
                <div id="cognome-utente-1" style="position:absolute; z-index: 100; width:688px; height: 30px; top:274px; left:268px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: left; font-size: 26px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">
                        <tr>
                            <td>
                                <span>CANTARUTTI</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Cognome Utente-->
                <!--Nome Utente-->
                <div id="nome-utente-1" style="position:absolute; z-index: 100; width:353px; height: 30px; top:274px; left:978px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: left; font-size: 26px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">
                        <tr>
                            <td>
                                <span>ERIKA</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Nome Utente-->
                <!--Data di nascita-->
                <div id="data-nascita-1" style="position:absolute; z-index: 100; width:270px; height: 29px; top:336px; left:267px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: center; font-size: 24px; font-weight: 500; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span>0</span>
                            </td>
                            <td>
                                <span>4</span>
                            </td>
                            <td>
                                <span>1</span>
                            </td>
                            <td>
                                <span>2</span>
                            </td>
                            <td>
                                <span>1</span>
                            </td>
                            <td>
                                <span>9</span>
                            </td>
                            <td>
                                <span>8</span>
                            </td>
                            <td>
                                <span>2</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Data di nascita-->
                <!--Sesso-->
                <div id="sesso-1" style="position:absolute; z-index: 100; width:32px; height: 29px; top:336px; left:571px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: center; font-size: 24px; font-weight: 500; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span>F</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Sesso-->
                <!--Comune di nascita-->
                <div id="comune-nascita-1" style="position:absolute; z-index: 100; width:605px; height: 29px; top:336px; left:641px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: left; font-size: 24px; font-weight: 500; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span>GORIZIA</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Comune di nascita-->
                <!--Provincia di nascita-->
                <div id="provincia-nascita-1" style="position:absolute; z-index: 100; width:67px; height: 29px; top:336px; left:1265px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: center; font-size: 24px; font-weight: 500; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span>G</span>
                            </td>
                            <td>
                                <span>O</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Provincia di nascita-->
                <!--Codice fiscale Erede-->
                <div id="cod-fisc-erede-1" style="position:absolute; z-index: 100; width:540px; height: 26px; top:390px; left:436px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: center; font-size: 24px; font-weight: 500; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Codice fiscale Erede-->
                <!--Codice identificativo-->
                <div id="cod-identificativo-1" style="position:absolute; z-index: 100; width:70px; height: 26px; top:390px; left:1264px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: center; font-size: 24px; font-weight: 500; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Codice identificativo-->
                <!--Identificativo operazione-->
                <div id="identificativo-operazione-1" style="position:absolute; z-index: 100; width:609px; height: 24px; top:422px; left:742px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span>0</span>
                            </td>
                            <td>
                                <span>6</span>
                            </td>
                            <td>
                                <span>2</span>
                            </td>
                            <td>
                                <span>3</span>
                            </td>
                            <td>
                                <span>0</span>
                            </td>
                            <td>
                                <span>0</span>
                            </td>
                            <td>
                                <span>3</span>
                            </td>
                            <td>
                                <span>1</span>
                            </td>
                            <td>
                                <span>5</span>
                            </td>
                            <td>
                                <span>2</span>
                            </td>
                            <td>
                                <span>2</span>
                            </td>
                            <td>
                                <span>0</span>
                            </td>
                            <td>
                                <span>2</span>
                            </td>
                            <td>
                                <span>3</span>
                            </td>
                            <td>
                                <span>0</span>
                            </td>
                            <td>
                                <span>4</span>
                            </td>
                            <td>
                                <span>1</span>
                            </td>
                            <td>
                                <span>4</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Identificativo operazione-->
                <!--Dettaglio pagamento-->
                <div style="position:absolute; z-index: 100; width:1260px; top:478px; height: 100px; left:72px; font-family: 'Courier Prime', Courier, monospace;">

                    <!--RIGA 1-->
                    <div class="riga" style="position:relative; width:100%; height:27px; float: left; padding:0 0 1px 0; margin: 0;">

                        <!--SEZIONE-->
                        <div id="sezione-1a" style="position: absolute; top: 2px; left: 0; width: 85px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>E</span>
                                    </td>
                                    <td>
                                        <span>L</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end SEZIONE-->
                        <!--CODICE TRIBUTO-->
                        <div id="cod-tributo-1a" style="position: absolute; top: 2px; left: 110px; width: 85px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>3944</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end CODICE TRIBUTO-->
                        <!--CODICE ENTE-->
                        <div id="cod-ente-1a" style="position: absolute; top: 2px; left: 205px; width: 100px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>F</span>
                                    </td>
                                    <td>
                                        <span>0</span>
                                    </td>
                                    <td>
                                        <span>8</span>
                                    </td>
                                    <td>
                                        <span>1</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end CODICE ENTE-->
                        <!--NUM IMMOB-->
                        <div id="num-immob-1a" style="position: absolute; top: 2px; left: 506px; width: 40px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>001</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end NUM IMMOB-->
                        <!--MESE RIFERIMENTO-->
                        <div id="mese-rif-1a" style="position: absolute; top: 2px; left: 559px; width: 85px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>0102</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end MESE RIFERIMENTO-->
                        <!--ANNO RIFERIMENTO-->
                        <div id="anno-rif-1a" style="position: absolute; top: 2px; left: 653px; width: 85px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>2022</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end ANNO RIFERIMENTO-->
                        <!--IMPORTO A DEBITO-->
                        <div id="importo-debito-1a" style="position: absolute; top: 2px; left: 880px; width: 187px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: right; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>233,00</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end IMPORTO A DEBITO-->

                    </div>
                    <!--end RIGA 1-->
                    <!--RIGA 2-->
                    <div class="riga" style="position:relative; width:100%; height:27px; float: left; padding: 0; margin: 0;">

                        <!--SEZIONE-->
                        <div id="sezione-1b" style="position: absolute; top: 2px; left: 0; width: 85px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>E</span>
                                    </td>
                                    <td>
                                        <span>L</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end SEZIONE-->
                        <!--CODICE TRIBUTO-->
                        <div id="cod-tributo-1b" style="position: absolute; top: 2px; left: 110px; width: 85px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>TEFA</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end CODICE TRIBUTO-->
                        <!--CODICE ENTE-->
                        <div id="cod-ente-1b" style="position: absolute; top: 2px; left: 205px; width: 100px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>F</span>
                                    </td>
                                    <td>
                                        <span>0</span>
                                    </td>
                                    <td>
                                        <span>8</span>
                                    </td>
                                    <td>
                                        <span>1</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end CODICE ENTE-->
                        <!--NUM IMMOB-->
                        <div id="num-immob-1b" style="position: absolute; top: 2px; left: 506px; width: 40px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>001</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end NUM IMMOB-->
                        <!--MESE RIFERIMENTO-->
                        <div id="mese-rif-1b" style="position: absolute; top: 2px; left: 559px; width: 85px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>0102</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end MESE RIFERIMENTO-->
                        <!--ANNO RIFERIMENTO-->
                        <div id="anno-rif-1b" style="position: absolute; top: 2px; left: 653px; width: 85px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>2022</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end ANNO RIFERIMENTO-->
                        <!--IMPORTO A DEBITO-->
                        <div id="importo-debito-1b" style="position: absolute; top: 2px; left: 880px; width: 187px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: right; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>9,00</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end IMPORTO A DEBITO-->

                    </div>
                    <!--end RIGA 2-->

                </div>
                <!--end Dettaglio pagamento-->
                <!--Totale pagamento-->
                <div id="totale-pagamento-1" style="position:absolute; z-index: 100; width:187px; height: 27px; top:762px; left:1147px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: right; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span>242,00</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Dettaglio pagamento-->

            </div>
            <!--end COPIA SOGGETTO-->
            <!--COPIA PER LA BANCA-->
            <div class="copia-banca" style="position:relative; width:100%; height: 960px; float: left; padding: 0; margin: 0;">

                <!--Scadenza 2-->
                <div id="scadenza-2" style="position:absolute; z-index: 100; width:320px; height: 25px; top:50px; left:598px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: left; font-size: 20px; font-weight: 400; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span>SCADENZA DEL: 14/04/2023</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Scadenza 2-->
                <!--Codice Fiscale 2-->
                <div id="cod-fisc-2" style="position:absolute; z-index: 100; width:540px; height: 28px; top:222px; left:266px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: center; font-size: 24px; font-weight: 500; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span>C</span>
                            </td>
                            <td>
                                <span>n</span>
                            </td>
                            <td>
                                <span>t</span>
                            </td>
                            <td>
                                <span>r</span>
                            </td>
                            <td>
                                <span>k</span>
                            </td>
                            <td>
                                <span>e</span>
                            </td>
                            <td>
                                <span>8</span>
                            </td>
                            <td>
                                <span>2</span>
                            </td>
                            <td>
                                <span>t</span>
                            </td>
                            <td>
                                <span>4</span>
                            </td>
                            <td>
                                <span>4</span>
                            </td>
                            <td>
                                <span>E</span>
                            </td>
                            <td>
                                <span>0</span>
                            </td>
                            <td>
                                <span>9</span>
                            </td>
                            <td>
                                <span>8</span>
                            </td>
                            <td>
                                <span>G</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Codice Fiscale 2-->
                <!--Codice Ufficio 2-->
                <div id="cod-ufficio-2" style="position:absolute; z-index: 100; width:100px; height: 28px; top:225px; left:835px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: center; font-size: 24px; font-weight: 500; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Codice Ufficio 2-->
                <!--Codice Atto 2-->
                <div id="cod-atto-2" style="position:absolute; z-index: 100; width:370px; height: 28px; top:225px; left:960px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: center; font-size: 24px; font-weight: 500; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Codice Atto 2-->
                <!--Cognome Utente 2-->
                <div id="cognome-utente-2" style="position:absolute; z-index: 100; width:688px; height: 30px; top:274px; left:268px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: left; font-size: 26px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">
                        <tr>
                            <td>
                                <span>CANTARUTTI</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Cognome Utente 2-->
                <!--Nome Utente 2-->
                <div id="nome-utente-1" style="position:absolute; z-index: 100; width:353px; height: 30px; top:274px; left:978px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: left; font-size: 26px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;">
                        <tr>
                            <td>
                                <span>ERIKA</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Nome Utente 2-->
                <!--Data di nascita 2-->
                <div id="data-nascita-2" style="position:absolute; z-index: 100; width:270px; height: 29px; top:336px; left:267px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: center; font-size: 24px; font-weight: 500; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span>0</span>
                            </td>
                            <td>
                                <span>4</span>
                            </td>
                            <td>
                                <span>1</span>
                            </td>
                            <td>
                                <span>2</span>
                            </td>
                            <td>
                                <span>1</span>
                            </td>
                            <td>
                                <span>9</span>
                            </td>
                            <td>
                                <span>8</span>
                            </td>
                            <td>
                                <span>2</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Data di nascita 2-->
                <!--Sesso 2-->
                <div id="sesso-2" style="position:absolute; z-index: 100; width:32px; height: 29px; top:336px; left:571px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: center; font-size: 24px; font-weight: 500; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span>F</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Sesso 2-->
                <!--Comune di nascita 2-->
                <div id="comune-nascita-2" style="position:absolute; z-index: 100; width:605px; height: 29px; top:336px; left:641px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: left; font-size: 24px; font-weight: 500; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span>GORIZIA</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Comune di nascita 2-->
                <!--Provincia di nascita 2-->
                <div id="provincia-nascita-1" style="position:absolute; z-index: 100; width:67px; height: 29px; top:336px; left:1265px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: center; font-size: 24px; font-weight: 500; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span>G</span>
                            </td>
                            <td>
                                <span>O</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Provincia di nascita 2-->
                <!--Codice fiscale Erede 2-->
                <div id="cod-fisc-erede-2" style="position:absolute; z-index: 100; width:540px; height: 26px; top:390px; left:436px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: center; font-size: 24px; font-weight: 500; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Codice fiscale Erede 2-->
                <!--Codice identificativo 2-->
                <div id="cod-identificativo-2" style="position:absolute; z-index: 100; width:70px; height: 26px; top:390px; left:1264px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: center; font-size: 24px; font-weight: 500; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Codice identificativo 2-->
                <!--Identificativo operazione 2-->
                <div id="identificativo-operazione-2" style="position:absolute; z-index: 100; width:609px; height: 24px; top:422px; left:742px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span>0</span>
                            </td>
                            <td>
                                <span>6</span>
                            </td>
                            <td>
                                <span>2</span>
                            </td>
                            <td>
                                <span>3</span>
                            </td>
                            <td>
                                <span>0</span>
                            </td>
                            <td>
                                <span>0</span>
                            </td>
                            <td>
                                <span>3</span>
                            </td>
                            <td>
                                <span>1</span>
                            </td>
                            <td>
                                <span>5</span>
                            </td>
                            <td>
                                <span>2</span>
                            </td>
                            <td>
                                <span>2</span>
                            </td>
                            <td>
                                <span>0</span>
                            </td>
                            <td>
                                <span>2</span>
                            </td>
                            <td>
                                <span>3</span>
                            </td>
                            <td>
                                <span>0</span>
                            </td>
                            <td>
                                <span>4</span>
                            </td>
                            <td>
                                <span>1</span>
                            </td>
                            <td>
                                <span>4</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Identificativo operazione 2-->
                <!--Dettaglio pagamento 2-->
                <div style="position:absolute; z-index: 100; width:1260px; top:478px; height: 100px; left:72px; font-family: 'Courier Prime', Courier, monospace;">

                    <!--RIGA 1-->
                    <div class="riga" style="position:relative; width:100%; height:27px; float: left; padding:0 0 1px 0; margin: 0;">

                        <!--SEZIONE-->
                        <div id="sezione-1a" style="position: absolute; top: 2px; left: 0; width: 85px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>E</span>
                                    </td>
                                    <td>
                                        <span>L</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end SEZIONE-->
                        <!--CODICE TRIBUTO-->
                        <div id="cod-tributo-1a" style="position: absolute; top: 2px; left: 110px; width: 85px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>3944</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end CODICE TRIBUTO-->
                        <!--CODICE ENTE-->
                        <div id="cod-ente-1a" style="position: absolute; top: 2px; left: 205px; width: 100px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>F</span>
                                    </td>
                                    <td>
                                        <span>0</span>
                                    </td>
                                    <td>
                                        <span>8</span>
                                    </td>
                                    <td>
                                        <span>1</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end CODICE ENTE-->
                        <!--NUM IMMOB-->
                        <div id="num-immob-1a" style="position: absolute; top: 2px; left: 506px; width: 40px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>001</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end NUM IMMOB-->
                        <!--MESE RIFERIMENTO-->
                        <div id="mese-rif-1a" style="position: absolute; top: 2px; left: 559px; width: 85px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>0102</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end MESE RIFERIMENTO-->
                        <!--ANNO RIFERIMENTO-->
                        <div id="anno-rif-1a" style="position: absolute; top: 2px; left: 653px; width: 85px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>2022</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end ANNO RIFERIMENTO-->
                        <!--IMPORTO A DEBITO-->
                        <div id="importo-debito-1a" style="position: absolute; top: 2px; left: 880px; width: 187px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: right; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>233,00</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end IMPORTO A DEBITO-->

                    </div>
                    <!--end RIGA 1-->
                    <!--RIGA 2-->
                    <div class="riga" style="position:relative; width:100%; height:27px; float: left; padding: 0; margin: 0;">

                        <!--SEZIONE-->
                        <div id="sezione-1b" style="position: absolute; top: 2px; left: 0; width: 85px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>E</span>
                                    </td>
                                    <td>
                                        <span>L</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end SEZIONE-->
                        <!--CODICE TRIBUTO-->
                        <div id="cod-tributo-1b" style="position: absolute; top: 2px; left: 110px; width: 85px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>TEFA</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end CODICE TRIBUTO-->
                        <!--CODICE ENTE-->
                        <div id="cod-ente-1b" style="position: absolute; top: 2px; left: 205px; width: 100px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>F</span>
                                    </td>
                                    <td>
                                        <span>0</span>
                                    </td>
                                    <td>
                                        <span>8</span>
                                    </td>
                                    <td>
                                        <span>1</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end CODICE ENTE-->
                        <!--NUM IMMOB-->
                        <div id="num-immob-1b" style="position: absolute; top: 2px; left: 506px; width: 40px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>001</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end NUM IMMOB-->
                        <!--MESE RIFERIMENTO-->
                        <div id="mese-rif-1b" style="position: absolute; top: 2px; left: 559px; width: 85px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>0102</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end MESE RIFERIMENTO-->
                        <!--ANNO RIFERIMENTO-->
                        <div id="anno-rif-1b" style="position: absolute; top: 2px; left: 653px; width: 85px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: center; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>2022</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end ANNO RIFERIMENTO-->
                        <!--IMPORTO A DEBITO-->
                        <div id="importo-debito-1b" style="position: absolute; top: 2px; left: 880px; width: 187px; height: 100%;">
                            <table style="width:100%; height: 100%; text-align: right; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                                <tr>
                                    <td>
                                        <span>9,00</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end IMPORTO A DEBITO-->

                    </div>
                    <!--end RIGA 2-->

                </div>
                <!--end Dettaglio pagamento 2-->
                <!--Totale pagamento 2-->
                <div id="totale-pagamento-2" style="position:absolute; z-index: 100; width:187px; height: 27px; top:762px; left:1147px; font-family: 'Courier Prime', Courier, monospace;">
                    <table style="width:100%; height:100%; text-align: right; font-size: 20px; font-weight: 500; text-transform: uppercase;">
                        <tr>
                            <td>
                                <span>242,00</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--end Dettaglio pagamento 2-->

            </div>
            <!--end COPIA SOGGETTO-->

        </div>

        <div style="width:1400px; height:1979px; background-image: url('/Images/pagopa.jpg'); background-repeat: no-repeat; background-position: top; background-size: contain; margin: 30px 0 0 0; position:relative;">

            <!--Oggetto di pagamento-->
            <div class="oggetto-pagamento" style="position: absolute; left:64px; top:164px; font-family: 'Titillium Web', sans-serif; font-size:37px; font-weight: 700;">
                <span>TARI Anno 2022 Comune di MEDEA</span>
            </div>
            <!--end Oggetto di pagamento-->
            <!--RIEPILOGO PAGAMENTO-->
            <!--Codice fiscale creditore-->
            <div class="cod-fisc-creditore" style="position: absolute; left:392px; top:302px; font-family: 'Roboto Mono', monospace; font-size:20px; font-weight: 700;">
                <span>01123290312</span>
            </div>
            <!--end Codice fiscale creditore-->
            <!--Codice fiscale destinatario-->
            <div class="cod-fisc-destinatario" style="position: absolute; left:1132px; top:302px; font-family: 'Roboto Mono', monospace; font-size:20px; font-weight: 700;">
                <span>CNTRKE82T44E098G</span>
            </div>
            <!--end Codice fiscale destinatario-->
            <!--Intestazione-->
            <div class="intestazione" style="position: absolute; left:197px; top:383px; font-family: 'Titillium Web', sans-serif; font-size:34px; font-weight: 700;">
                <span>ISONTINA AMBIENTE Srl</span>
            </div>
            <!--end Intestaziones-->
            <!--Soggetto Gestore-->
            <div class="soggetto-gestore" style="position: absolute; left:70px; top:513px; font-family: 'Titillium Web', sans-serif; font-size:24px; font-weight: 400;">
                <span>Soggetto gestore per conto del Comune</span>
            </div>
            <!--end Soggetto Gestore-->
            <!--Destinatario avviso-->
            <div class="destinatario-avviso" style="position: absolute; left:751px; top:374px; font-family: 'Titillium Web', sans-serif; font-size:26px; font-weight: 700; text-transform: uppercase;">
                <span>Cantarutti Erika</span>
            </div>
            <!--end Destinatario avviso-->
            <!--Indirizzo Destinatario-->
            <div class="destinatario-avviso" style="position: absolute; left:751px; top:430px; font-family: 'Titillium Web', sans-serif; font-size:24px; line-height: 57px; text-align: left; font-weight: 400; text-transform: uppercase;">
                <span>
                    VIA SOTTOMONE, 17<br>
                    34076 MEDEA GO
                </span>
            </div>
            <!--Indirizzo Destinatario-->
            <!--Importo e data-->
            <div class="importo" style="position: absolute; left:76px; top:720px;">
                <span style="font-family:'Roboto Mono', monospace; font-size:37px; font-weight: 700; letter-spacing: -2px;">242,00 Euro</span>
                &nbsp;&nbsp;
                <span style="font-family: 'Titillium Web', sans-serif; font-size:18px; font-weight: 700;">entro il</span>
                &nbsp;&nbsp;
                <span style="font-family: 'Titillium Web', sans-serif; font-size:37px; font-weight: 700;">14/04/2023</span>
            </div>
            <!--end Importo e data-->
            <!--end RIEPILOGO PAGAMENTO-->
            <!--RATA-->

            <div class="data-rata" style="position: absolute; left:1202px; top:1040px; font-family: 'Titillium Web', sans-serif; font-size:24px; font-weight: 700;">
                <span>14/04/2023</span>
            </div>

            <div class="qr-code" style="position: absolute; left:421px; top:1141px;">
                <img src="/Images/qrcode.png" style="width: 169px; height: 169px;">
            </div>

            <div class="destinatario-rata" style="position: absolute; left:733px; top:1147px; font-family: 'Titillium Web', sans-serif; font-size:20px; font-weight: 700; line-height: 0; text-transform: uppercase;">
                <span>Cantarutti Erika</span>
            </div>
            <div class="totale-rata" style="position: absolute; left:1100px; top:1122px;">
                <span style="font-family: 'Titillium Web', sans-serif; font-size:24px; font-weight: 400;">Euro</span>
                &nbsp;&nbsp;
                <strong style="font-family:'Roboto Mono', monospace; font-size:24px; font-weight: 700; letter-spacing: -2px;">242,00</strong>
            </div>
            <div class="ente-creditore-rata" style="position: absolute; left:749px; top:1176px; font-family: 'Titillium Web', sans-serif; font-size:20px; font-weight: 700; line-height: 0;">
                <span>ISONTINA AMBIENTE Srl</span>
            </div>
            <div class="oggetto-pagamento-rata" style="position: absolute; left:793px; top:1205px; font-family: 'Titillium Web', sans-serif; font-size:20px; font-weight: 700; line-height: 0;">
                <span>TARI Anno 2022 Comune di MEDEA</span>
            </div>

            <div class="codice-cbill-rata" style="position: absolute; left:627px; top:1283px; font-family: 'Titillium Web', sans-serif; font-size:24px; font-weight: 700;">
                <span>BAG20</span>
            </div>
            <div class="codice-avviso-rata" style="position: absolute; left:765px; top:1286px; font-family: 'Roboto Mono', monospace; letter-spacing: -1px; font-size:24px; font-weight: 700;">
                <span>3001 2000 0009 0107 35</span>
            </div>
            <div class="codice-avviso-rata" style="width:210px; position: absolute; left:1115px; top:1286px; font-family: 'Roboto Mono', monospace; letter-spacing: -1px; font-size:24px; font-weight: 700; text-align: right;">
                <span>01123290312</span>
            </div>


            <!--end RATA-->

        </div>
    </center>
</body>
</html>
